{% extends 'mainpage/default.html' %}

{% block content %}
<div class="users">
    <div class="container h-100">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Rejoignez-nous aujourd'hui !</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn-register" type="submit">S'inscrire</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                    Vous avez déjà un compte? <a class="ml-2" href="#">Se connecter</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}