{% extends 'mainpage/default.html' %}{% load static %}

{% block content %}
    <!-- Masthead -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-white font-weight-bold">Du gras, oui, mais de qualité !</h1>
                    <!-- <hr class="divider my-4"> -->
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <h2 class="text-white-75 font-weight-light mb-5">
                        Trouvé un produit de substitution pour ceux que vous consommez tous les jours.</h2>
                    <form class="form-inline" id="search" action="">
                        <div class="form-group form-control-lg col-12">
                            <input class="col-lg-8 col-sm-12" id="search-txt" type="text" placeholder="Produit">
                            <button class="col-lg-3 col-xs-12" id="search-btn">Chercher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">Colette et Remy</h2>
            <hr class="divider my-4">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="mt-5">
                        <img src="{% static 'mainpage/img/colette-tatou-full.png' %}" alt="Image de Colette">
                        <h3 class="h4 mb-2">Colette</h3>
                        <p class="mb-0">"Nous aimons tous manger, surtout en France ! Personnellement, une baguette
                            fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement. Comme tout le
                            monde, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte,
                            surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits
                            aseptisés que j'avais l'habitude d'acheter par de bons produits du terroir Et souvent pour
                            le même prix !"</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="mt-5">
                        <img src="{% static 'mainpage/img/remy.jpg' %}" alt="Image de Remy">
                        <h3 class="h4 mb-2">Remy</h3>
                        <p class="mb-0">"Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me
                            balader, surtout dans les caves et les cuisines. Je connaissais par coeur le contenu des
                            boutiques bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus.
                            Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment
                            plus sain, je savais tout de suite où le trouver. L'idée de Pur Beurre était née !"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Contactez-nous !</h2>
                    <hr class="divider my-4">
                    <p class="mb-5">Nous vous répondrons dans les plus brefs délais.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center">
                    <i class="fas fa-phone fa-3x mb-3"></i>
                    <p>+1 (202) 555-0149</p>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3"></i>
                    <!-- Make sure to change the email address in anchor text AND the link below! -->
                    <a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}