{% extends 'app/layouts/base.html' %}
{% load static %}

{% block head_title %}Résultats de recherche {% endblock %}

{% block content %}
<div class="section">
    <div class="banner-image" style="background-image: url('{{ requested_product_image }}')">
        <div class="banner">
            <div class="text-center">
                <h2>{{ requested_product_name }} - {{ requested_product_brands }} - {{ requested_product_quantity }}
                </h2>
                <p><small> {{ requested_title }}</small></p>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Vous pouvez remplacer cet aliment par :</h2>
        <div class="row mb-4">
            <div class="col-4 mx-auto item">
            {% for product in products %}
                <div class="card m-2">
                    <img src=" {{ product.image_url }} " alt="photo produit">
                    {{ product.product_name }} - {{ product.title }} - {{ product.brands }} -
                    {{ product.quantity }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}