/* VARIABLE DECLARATION */
:root {
  --dark-orange: #c45525;
  --light-orange: #e8a75d;
  --dark-blue: #345a61;
  --light-blue: #86ebe6;
}

/* CSS */
#logo {
  width: 40px;
  margin: -25px 5px -20px 0;
}

body {
  font-family: "Scope one", sans-serif;
}

.alert {
  position: absolute;
  margin-top: 72px;
  text-align: center;
  width: 100%;
  border-radius: 0;
}

/* NO TRANSPARENT MAINNAV */
#mainNav {
  background-color: rgba(0, 0, 0, 0.30);
  /* border-bottom: 3px solid var(--dark-orange); */
}

/* #mainNav .navbar-brand {
  color: #212529;
} */

#mainNav .navbar-brand:hover {
  color: var(--dark-orange);
}

/* #mainNav .navbar-nav .nav-item .nav-link {
  color: #212529;
} */

#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: var(--dark-orange);
}

/* END NO TRANSPARENT MAINNAV */

svg {
  width: 28px;
  height: 28px;
  fill: currentColor;
}

.fas {
  font-size: 25px;
}

.nav-txt {
  display: none;
}

#nav-search {
  background-color: #e3d6c6;
  color: var(--dark-blue);
  border: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 2px;
  padding-inline-start: 10px;
  margin-right: 10px;
}

.masthead h1,
.masthead h2 {
  font-family: "Open sans", sans-serif;
}

.masthead h1 {
  margin-bottom: 40px;
}

.masthead h2 {
  font-size: 1.5em;
}

#search-btn {
  border: 1px solid var(--dark-orange);
  background-color: var(--dark-orange);
  color: white;
  height: 40px;
}

#search {
  border: none;
}

#search-txt {
  border: 1px solid var(--dark-orange);
  padding-inline-start: 10px;
  height: 40px;
  color: var(--dark-blue);
}

.page-section h2,
.page-section h3 {
  font-family: "Open sans", sans-serif;
  color: var(--dark-orange);
}

.page-section h4 {
  text-align: center;
}

.page-section p,
.page-section a {
  font-family: "Scope one", sans-serif;
  color: var(--dark-blue);
}

.page-section .divider,
.masthead .divider {
  border-color: var(--dark-orange);
}

.page-section img {
  height: 300px;
}

#contact {
  background-color: var(--light-orange);
}

.banner{
  height: 160px;
  color: #ffffff;
  text-shadow: 1px 1px 10px black;
  margin-top: -28px;
  margin-bottom: 20px;
  background-color: #345a61;
  background-image: url('../img/bg-masthead-2.jpg');
  background-size: cover;
  letter-spacing: 2px;
}

.banner h2 {
  padding-top: 35px;
}

footer {
  position: relative;
  background-color: var(--dark-blue);
  text-align: center;
  height: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

footer a {
  margin-top: 20px;
  color: var(--light-blue);
}

footer a:hover {
  text-decoration: none;
}

.fa-envelope,
.fa-phone {
  color: var(--dark-blue);
}

.users {
  padding-top: 140px;
  height: 100%;
  margin-bottom: -60px;
  background-color: var(--light-orange);
}

.btn-register {
  background-color: var(--dark-blue);
  border: none;
  padding: 5px 20px;
  color: white;
  font-weight: bold;
}

.btn-register:hover {
  background-color: var(--dark-orange);
}

.section {
  padding-top: 100px;
  height: 100%;
  margin-bottom: -60px;
  background-color: var(--light-orange)
}

.section a {
  color: var(--dark-blue);
  font-weight: bold;
}

.help-text {
  font-size: 0.7em;
}

/* ############################# MEDIA QUERIES ############################# */
@media only screen and (max-width:991.98px) {
  .nav-txt {
    display: inline-block;
  }

  #mainNav {
    background-color: #ffffff;
    /* border-bottom: 3px solid var(--dark-orange); */
  }

  .fas {
    margin-right: 5px;
  }

  .help-text {
    display: none;
  }
}